<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kaufland Deals</title>
    <style>
        body {
            background-color: powderblue;
            }
        h1   {
            color: blue;
            font-family: "Comic Sans MS", "Comic Sans", cursive;
            }
        h2   {
            color: blue;
            font-family: "Comic Sans MS", "Comic Sans", cursive;
            }
        p    {
            color: red;
            font-family: "Comic Sans MS", "Comic Sans", cursive;
            }
</style>
</head>
<body>
    <h1>Kaufland deals</h1>
    <img src="saints_macherinnen.jpg" alt="MACHER:INNEN">
    <p>Alles im Angebot alda</p>
    <p>Einfach Artikel mit Komma getrennt hin schreiben [Nudeln, Käse, ...]</p>
    <form action="#" method="post">
        <p>Einkaufsliste:</p>
        <p><input type="text" name="ek"/></p>
        <p><input type="submit" name="geh mal gucken"/></p>
    </form>
    <h2>Deine Liste</h2>
    <p>{{ek_liste}}</p>
    <h2>Davon im Angebot</h2>
    {% for table in tables %}
            {{titles[loop.index]}}
            {{ table|safe }}
    {% endfor %}
</body>
</html>